<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout/menu :: head"></head>

<body class=" layout-fixed">
	<!-- BODY -->
	<div class="wrapper">
		<!-- WRAPPER -->
		<nav class="main-header navbar ">
			<!-- NAVBAR -->
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" data-widget="pushmenu"
					href="#" role="button"><i class="fas fa-bars"></i></a></li>
			</ul>
		</nav>

		<aside th:insert="layout/menu :: aside"></aside>
		<!-- MENU ASIDE -->

		<div class="content-wrapper">
			<!-- CONTENIDO DE LA PAGINA -->
			<div class="container-table-index py-4">
				<!-- PY4 ES MARGIN TOP -->
				<div class="card bg-light">
					<div class="card-header">
						<!-- Head-->
						<h5 th:text="${titulo}"></h5>
					</div>
					<div class="card-body">
						<!-- body-->
						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<form method="POST" id="idRegistraSocio" th:object="${socio}"
										th:action="@{/socio/grabar}">
										<input type="hidden" id="vista" name="vista" value="nuevo"><!-- Variable que controlador manejara para el redireccionamiento -->
										<div class="container">
											<div class="row">
												<div class="form-group has-feedback col-md-12">
													<label for="exampleInputEmail1"><b>Dni Socio</b></label><br>
													<input type="text" class="form-control" id="socio_Nro_DniS"
														th:field="*{socio_Nro_Dni}" placeholder="Ingrese DNI">
												</div>
												<div class="form-group has-feedback col-md-12">
													<label for="exampleInputEmail1"><b>Apellidos</b></label><br>
													<input type="text" class="form-control" id="apellidosS"
														th:field="*{persona.apellidos}"
														placeholder="Ingrese Apellidos">
												</div>
												<div class="form-group has-feedback col-md-12">
													<label for="exampleInputEmail1"><b>Nombre</b></label><br>
													<input type="text" class="form-control" id="nombresS"
														th:field="*{persona.nombres}" placeholder="Ingrese Nmbres">
												</div>
												<div class="form-group has-feedback col-md-12">
													<label for="exampleInputEmail1"><b>Fecha
															Nacimiento</b></label><br> <input type="text"
														class="form-control" id="fechaNacS"
														th:field="*{persona.fechaNac}" placeholder="YYYY-MM-DD">
												</div>
												<div class="form-group has-feedback col-md-12">
													<label for="exampleInputEmail1"><b>Email</b></label><br>
													<input type="text" class="form-control" id="emailS"
														th:field="*{persona.email}" placeholder="Ingrese email">
												</div>
												<div class="form-group has-feedback col-md-12">
													<label for="exampleInputEmail1"><b>Telefono</b></label><br>
													<input type="text" class="form-control" id="telefonoS"
														th:field="*{persona.telefono}"
														placeholder="Ingrese telefono">
												</div>
												<div class="form-group has-feedback col-md-6">
													<label for="exampleInputEmail1"><b>Tarifa</b></label><br>
													<select class="form-control" th:field="*{persona.genero}"
														id="generoS">
														<option value="0">[Seleccione género]</option>
														<option value="F">Femenino</option>
														<option value="M">Masculino</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-12 text-center mt-4">
											<button type="submit" id="Guardar" class="btn btn-primary">
												<i class="fas fa-save"></i> Registrar
											</button>
											<button type="button" id="btn-cerrar" class="btn btn-danger"
												data-dismiss="modal">
												<i class="fas fa-undo-alt"></i>Cancelar
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /CONTENIDO DE LA PAGINA -->
	</div>
	<!-- /WRAPPER -->

	<!-- FOOTER -->
	<footer th:replace="layout/menu :: footer"> </footer>

	<!--  SCRIPTS _(JS,AJAX,JQUERY,ETC) -->
	<div th:insert="layout/menu :: scripts"></div>
	
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		//obtener atributo MENSAJE
		var mensaje =/*[[${MENSAJE}]]*/ null;
		toastr.success(mensaje, toastr.options = {
			"timeOut": "2000",
			"positionClass ": " toast-top-right ",
		});
	</script>

</body>

</html>